.movie-card {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: rgba(43, 41, 41, 0.9);
  opacity: 0;
  overflow: hidden;
  transition: all 1s;
  font-weight: bold;
  overflow-wrap: break-word;
}

.overlay:hover {
  opacity: 1;
}

.movie-card:hover {
  transform: scale(1.05) translateZ(20px);
  z-index: 11;
}

.carousel-item-padding {
  padding: 0 10px;
}

.overlay h1 {
  font-size: 1.5rem;
  white-space: nowrap;
  text-wrap: wrap;
}
