.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 10px;
  background-color: azure;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
