body,
ul,
li {
  margin: 0;
  padding: 0;
}
.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  gap: 10px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.menu-list {
  display: flex;
  list-style: none;

  gap: 10px;
  align-items: center;
}

.search-container {
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  right: 20px;
}

.product-search {
  border: none;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 25px;
  width: 100%;
}
.search-icon {
  position: absolute;
  left: 5px;
  pointer-events: none;
}

.product-search:focus {
  outline: none;
  border-bottom: 1px solid black;
}
